@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body{
    
    background-color: #343541;
 }

 .login{
    width: 1433px;
    height: 745px;
    background-color: #FFFFFF;
    margin: 100px auto;

 }

 header{
    display: flex;
    
 }

 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.card{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.checkbox{
   position: relative;
   display: flex;
   justify-content: space-around;
   width: 320px;
   height: 79px;
   border: #C3C8CF 1px solid;
   margin: 15px;
}

.validação{
   color: white;
   appearance: none;
   content: '';
   width: 30px;
   height: 30px;
   margin-right: 265px;
   margin-top: 25px;
   color: #C1C1C1;
   background-color: white;
   border: 2px solid;
   border-radius: 4px;
}

input[type="checkbox"]:checked:before{
   content: "\2714";
   display: block;
   text-align: center;
   font-size: 20px;
   color: #0FA47F;
   background-color: #c0baba;
   width: 26px;
   height: 26px;
}


.captcha{
   
   display: flex;
   position: absolute;
   margin-left: 250px;
   margin-top: 48px;
   font-family: 'inter';
   font-size: 10px;
   font-weight: 300;
   color: #555555;
}

.campo{
   display: flex;
   position: absolute;
   margin-top: 30px;
   margin-right: 120px;
   font-family: 'inter';
   font-size: 15px;
   font-weight: 300;
   color: #2E3339;
   
}

.privacy{
   display: flex;
   position: absolute;
   margin-top: 60px;
   margin-left: 250px;
   font-family: 'inter';
   font-size: 8px;
   font-weight: 300;
   color: #555555;
}

.logoCaptcha{
   display: flex;
   position: absolute;
   margin-left: 250px;
   margin-top: 15px;


   
   
}

.continue{
padding-top: 20px;
}

.sign{
   padding-top: 20px;
}

.or{
   padding-top: 20px;
}

.imputEmail{
   
   width: 320px;
   height: 64px;
   
}

.campoEmail{
width: 320px;
height: 52px;
border: #0FA47F 1px solid;
}

.textoEmail{
color: #0FA47F;
}

/* -------------------------------------------------------------- */

fieldset{
   width: 320px;
   height: 52px;
   border-radius: 4px;
   border: 1px solid var(--greenAcenture);
   position: relative;
   
}
legend{
   font-size: 14px;
   font-weight: 300;
   color: var(--greenAcenture);
   margin-left: 10px;
   border: 5px solid var(--white);
}




/* --------------------------------------------------------------- */



.textoLogin{
    font-size: 31px;
    font-family: 'inter';
    font-weight: bold;
    padding: 50px 0px 20px ;
 }

 .linkSignup{
    color: rgba(46, 51, 57, 1);
 }

 .linkSignup2{
    color: #0FA47F;
 }

 .entrar{
    width: 320px;
    height: 50px;
    background-color: #0FA47F;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
 }

 .buttonGoogle{
    display: flex;
    align-items: center;
   
 }

 .linha1{
    width: 138px;
 }

 .hrlinha{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
 }

  .or{
     text-align: center;
     margin: 0 auto;
     padding: 20px;
     font-family: 'inter';
     font-weight: 300;
     font-size: 12px;
     color: #2E3339;

  }

 .buttonMicrosoft{
   padding-top: 7px;
 }
 
 .google{
   width: 320px;
   height: 52px;
   display: flex;
   align-items: center;
   border: #C3C8CF 1px solid;
   color: #2E3339;
   border-radius: 4px;
   font-family: 'inter';
   font-size: 15px;
   font-weight: 500;
   
   
 }

 .imgGoogle{
    margin-left: 20px;
    margin-right: 10px;
 }

 .microsoft{
   width: 320px;
   height: 52px;
   display: flex;
   align-items: center;
   border: #C3C8CF 1px solid;
   color: #2E3339;
   border-radius: 4px;
   font-family: 'inter';
   font-size: 15px;
   font-weight: 500;
 }

 .imgMicrosoft{
   margin-left: 20px;
   margin-right: 10px;
 }
 
